{% extends 'base_with_card.html' %}

{% block card_content %}
  <h1>Все продукты и их параметры</h1>
  <div style="overflow-x:auto;">
    <table>
      <thead>
      <tr>
        <th>Категория</th>
        <th>Продукт</th>
        <th>Кол-во</th>
        <th>Ед. изм.</th>
        <th>Цена</th>
        <th>Параметр</th>
        <th>Значение</th>
        <th>Ед. изм. параметра</th>
      </tr>
      </thead>
      <tbody>
      {% if results %}
        {% for result in results %}
          <tr>
            <td>{{ result.category }}</td>
            <td>{{ result.product }}</td>
            <td>{{ result.amount }}</td>
            <td>{{ result.measure }}</td>
            <td>{{ result.price }}</td>
            <td>{{ result.param_name }}</td>
            <td>{{ result.param_value }}</td>
            <td>{{ result.param_measure }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr><td colspan="8" class="text-gray">Нет данных для отображения.</td></tr>
      {% endif %}
      </tbody>
    </table>
  </div>
  <a href="{% url 'django_db_app:index' %}" class="btn-custom mt-3">На главную</a>
{% endblock %}