{% extends 'base_with_card.html' %}

{% block card_content %}
  <h1>Справочник</h1>
  <ul class="list-flat">
    {% for item in results %}
      <li style="margin-left: {{ item.level|add:"1" }}em;">
        {% if item.is_product %}
          <span class="text-gray">{{ item.id }}. {{ item.name }}</span>
        {% else %}
          <strong>{{ item.id }}. {{ item.name }}</strong>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'django_db_app:index' %}" class="btn-custom mt-3">На главную</a>
{% endblock %}