{% extends 'base_with_card.html' %}

{% block card_content %}
  <h1>Дочерние элементы:<br><span class="text-gray">{{ selected_category.name }}</span></h1>
  <form method="post">{% csrf_token %}{{ form.as_p }}
    <button type="submit" class="btn-custom btn-accent">Показать</button>
  </form>

  {% if results %}
    {% if descendant_categories %}
      <h2>Категории</h2>
      <table>
        <thead>
        <tr>
          <th>ID</th><th>Имя</th><th>Родитель</th>
        </tr>
        </thead>
        <tbody>
        {% for category in descendant_categories %}
          <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.parent_id }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="text-gray mb-2">Нет дочерних категорий.</div>
    {% endif %}

    {% if descendant_products %}
      <h2 class="mt-4">Продукты</h2>
      <table>
        <thead><tr><th>ID</th><th>Имя</th><th>Категория</th></tr></thead>
        <tbody>
        {% for product in descendant_products %}
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category_id }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <span class="text-gray mb-2">Нет изделий в выбранной категории.</span>
    {% endif %}
  {% endif %}
  <a href="{% url 'django_db_app:index' %}" class="btn-custom mt-3">На главную</a>
{% endblock %}