{% extends 'base_with_card.html' %}

{% block title %}Панель управления{% endblock %}

{% block card_content %}
  {% if user.is_authenticated %}
    <div class="card-user">
      <h5>Пользователь: <span class="text-gray">{{ user.username }}</span></h5>
    </div>
    <div class="btn-bar mb-3">
      <a href="{% url 'admin:index' %}" class="btn-custom btn-accent">База данных</a>
      <a href="{% url 'django_db_app:classifier' %}" class="btn-custom">Справочник</a>
      <a href="{% url 'django_db_app:descendants_by_category' %}" class="btn-custom">Дочерние категории</a>
      <a href="{% url 'django_db_app:parents_by_category' %}" class="btn-custom">Родительские категории</a>
      <a href="{% url 'django_db_app:terminal_categories' %}" class="btn-custom">Терминальные классы</a>
      <a href="{% url 'django_db_app:products_with_params' %}" class="btn-custom">Категор. с параметрами</a>
      <a href="{% url 'django_db_app:all_products_with_params' %}" class="btn-custom">Все с параметрами</a>
      <a href="{% url 'django_db_app:product_params' %}" class="btn-custom">Параметры изделия</a>
      <a href="{% url 'django_db_app:products_with_aggregate_params' %}" class="btn-custom">Параметры агрегата</a>
    </div>
    <div class="btn-bar mb-2">
      <a href="{% url 'password_change' %}" class="btn-custom btn-accent">Сменить пароль</a>
      <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn-custom btn-red">Выйти</button>
      </form>
    </div>
  {% else %}
    <div class="text-center mb-3">Вы не авторизованы</div>
    <div class="text-center">
      <a href="{% url 'login' %}" class="btn-custom btn-accent">Войти</a>
    </div>
  {% endif %}
{% endblock %}