{% extends 'base_with_card.html' %}

{% block card_content %}
  <h1>Родительские категории:<br><span class="text-gray">{{ selected_category.name }}</span></h1>
  <form method="post">{% csrf_token %}{{ form.as_p }}
    <button type="submit" class="btn-custom btn-accent">Показать</button>
  </form>
  {% if results %}
    {% if parent_categories %}
      <h2>Список</h2>
      <table>
        <thead>
        <tr>
          <th>Уровень</th><th>ID</th><th>Имя</th><th>Родитель</th><th>Ед. изм.</th>
        </tr>
        </thead>
        <tbody>
        {% for parent in parent_categories %}
          <tr>
            <td>{{ parent.depth }}</td>
            <td>{{ parent.id }}</td>
            <td>{{ parent.name }}</td>
            <td>{{ parent.parent_id }}</td>
            <td>{{ parent.measure_id }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="text-gray">Нет родительских категорий.</div>
    {% endif %}
  {% endif %}
  <a href="{% url 'django_db_app:index' %}" class="btn-custom mt-3">На главную</a>
{% endblock %}