{% extends 'base_with_card.html' %}

{% block card_content %}
  <h1>Продукты с параметрами агрегата</h1>
  <form method="get">
    {{ form.as_p }}
    <button type="submit" class="btn-custom btn-accent">Поиск</button>
  </form>
  {% if results %}
    {% if aggregate_params %}
      <table>
        <thead>
        <tr>
          <th>Категория</th>
          <th>Продукт</th>
          <th>Цена</th>
          <th>Кол-во</th>
          <th>Параметр</th>
          <th>Тип</th>
          <th>Значение</th>
          <th>Ед. изм.</th>
        </tr>
        </thead>
        <tbody>
        {% for param in aggregate_params %}
          <tr>
            <td>{{ param.category }}</td>
            <td>{{ param.product }}</td>
            <td>{{ param.price }}</td>
            <td>{{ param.amount }}</td>
            <td>{{ param.param_name }}</td>
            <td>{{ param.param_type }}</td>
            <td>{{ param.param_value }}</td>
            <td>{{ param.param_measure }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="text-gray">Нет данных для отображения.</div>
    {% endif %}
  {% endif %}
  <a href="{% url 'django_db_app:index' %}" class="btn-custom mt-3">На главную</a>
{% endblock %}